<div id="content">
  <div class="quote-container">
    <!-- <h4>
            <strong>"</strong>An Explosion of Ever Expanding Consciousness into the
            Evolution of a World Beyond the Elite.
          </h4>
          <h4>- N.O.V.A</h4> -->
    <h4><strong>"</strong>An Explosion</h4>
    <h4>of Ever Expanding Consciousness</h4>
    <h4>into the Evolution of a World</h4>
    <h4>Beyond the Elite.<strong>"</strong></h4>
    <h4>- N.O.V.A</h4>
  </div>

  <div class="bottom-half">
    <div class="album-artwork">
      <img src="../assets/explosion-album-cover.jpg" class="album" />
    </div>

    <div class="playlist">
      <div class="song">
        <paper-audio-player
          src="../assets/TextTo.mp3"
          title="Parranda"
          color="#000000"
          class="song"
        ></paper-audio-player>
      </div>
    </div>
  </div>
</div>
