<!-- <paper-audio-player
  src="../assets/TextTo.mp3"
  title="Hello World"
  color="#000000"
></paper-audio-player> -->

<div class="content" *ngIf="isMobile">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" position="end">
      <h1 class="side-nav-text"><a routerLink="home">Home</a></h1>
      <h1 class="side-nav-text"><a routerLink="music">Music</a></h1>
      <h1 class="side-nav-text"><a routerLink="videos">Videos</a></h1>
      <h1 class="side-nav-text"><a routerLink="shows">Shows</a></h1>
      <h1 class="side-nav-text"><a routerLink="shop">Shop</a></h1>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="sidenav-content">
        <div class="mobile-header-button">
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon [inline]="true">menu</mat-icon>
          </button>
        </div>
        <img class="mobile-logo" src="../assets/logo.png" />
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
