<!-- <paper-audio-player
  src="../assets/TextTo.mp3"
  title="Hello World"
  color="#000000"
></paper-audio-player> -->

<div class="content" *ngIf="isMobile">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" position="end">
      <h3><a routerLink="home" class="side-nav-link">Home</a></h3>
      <h3><a routerLink="music" class="side-nav-link">Music</a></h3>
      <h3><a routerLink="videos" class="side-nav-link">Videos</a></h3>
      <h3><a routerLink="shows" class="side-nav-link">Shows</a></h3>
      <h3><a routerLink="shop" class="side-nav-link">Shop</a></h3>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="mobile-header-button">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon [inline]="true">menu</mat-icon>
        </button>
      </div>
      <img class="mobile-logo" src="../assets/logo.png" />
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
