div.content {
  display: flex;
  justify-content: center;
  padding-top: 15%;
}

div.content > h1 {
  font-size: 1.5vw;
  color: white;
  font-family: NovaFont;
  letter-spacing: 5px;
  text-align: center;
}

@media screen and (max-width: 400px) {
  div.content > h1 {
    font-size: 4vw;
    color: white;
    font-family: NovaFont;
    letter-spacing: 5px;
    text-align: center;
  }
}
