div.content {
  display: flex;
  justify-content: center;
  padding-top: 15%;
}

@media screen and (max-width: 400px) {
  div.content > h1 {
    font-size: 1.5vw;
    color: white;
    font-family: NovaFont;
    letter-spacing: 5px;
    text-align: center;
  }
}

// remember if using max-widths then higher numbers go on top
@media only screen and (max-width: 959.99px) and (orientation: landscape) {
  div.content {
    padding-top: 7%;
  }
}

@media only screen and (max-width: 599.99px) and (orientation: portrait) {
  div.content {
    padding-top: 15%;
  }
}
